@use '@styles/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-white: #fff;
    --bg-primary: #EEF2F6;
    --bg-blue: #4F46E5;
    --bg-light-blue: #837CEC;
    --bg-light-gray: #F0F2F5;
    --bg-dark-gray: #bfbfbf;
    --border-light: #e5e8eb;
    --dark-gray: #565656;

    --header-height: 95px;
    --sidebar-width: 240px;

}
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--bg-primary);
    overflow-y: hidden;
}