
.mainBox{
    display: flex;
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    height: calc(100dvh - var(--header-height));
}

.content{
    flex: 1;
    padding: 20px 30px;
    transition: .3s all ease;
    height: 100%;
    overflow-y: auto;
}

@media(max-width: 600px){
    .content{
        padding: 20px 10px;
    }
}

