@use "@styles/index.scss";

.wrapper{
    background: var(--bg-white);
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    min-width: 370px;
    border: 1px solid var(--border-light);
    height: fit-content;
}

.linkBack{
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: #000;
    transition: .3s;

    svg{
        width: 25px;
    }
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.userAvatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--border-light);

    img{
        width: 100%;
    }
}

.userFullName{
    margin-top: 15px;
    font-weight: 700;
}

.userProfession{
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color: var(--dark-gray);
}

.userDetails{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.detailsItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    .desc{
        color: var(--dark-gray);
        display: flex;
        align-items: center;
        column-gap: 5px;
        font-size: 16px;
    }
}

@media(hover: hover){
    .linkBack:hover{
        opacity: .6;
    }
}

@media(max-width: 900px){
    .wrapper{
        min-width: 100%;
    }
}